// components/Layout.scss

@import "../theme/theme";

.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  .Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;

    font-family: $core-font;

    a {
      color: inherit;
    }
  }

  .NavBar{
    position: sticky;
    bottom: 0;
  }
}

.LayoutSearch {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  .Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    margin-top: 85px;

    font-family: $core-font;

    a {
      color: inherit;
    }
  }

  .NavBar{
    position: fixed;
    bottom: 0;
  }
}